.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: #413d4b;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.header-wrap {
  background: #402d70 url(../src/img/tajem_header75.jpg);
  background-size: cover;
}

.header {
  width: 950px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
.header-top {
  overflow: hidden;
  padding: 15px;
  margin-bottom: 160px;
}

.logo {
  float: left;
}
.menu {
  float: right;
  list-style: none;
}
.menu li {
  float: left;
  margin-left: 25px;
  padding-top: 15px;
}
.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

.header-main {
  color: #fff;
  text-align: center;
  width: 750px;
  margin: 0 auto;
  padding-bottom: 205px;
}
.header-main h1 {
  font-size: 32px;
  margin-bottom: 50px;
}
.header-main h2 {
  font-size: 14px;
  font-weight: 300px;
  margin-bottom: 50px;
  line-height: 24px;
}
.linkButton {
  display: inline-block;
  padding: 10px 15px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #00e0d0;
  color: #00e0d0;
}

.content {
  width: 950px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.history {
  padding-top: 70px;
  margin-bottom: 70px;
}
.imgleft {
  float: left;
  margin: 15px 100px;
}

.history-test h2 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 24px;
}
.history-text p {
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 22px;
}

.form {
  width: 460px;
  margin: 0 auto 100px auto;
}
.form h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  margin-bottom: 24px;
}
.imput_txt {
  width: 100%;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: #413d4b;
  outline: none;
  margin-bottom: 20px;
  padding: 25px 20px;
}

.textarea__text {
  width: 100%;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: #413d4b;
  outline: none;
  margin-bottom: 20px;
  padding: 25px 20px;
  height: 150px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #00e0d0;
  color: #00e0d0;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.footer-wrap {
  background: #332954 url(../src/img/footer.png);
  background-size: cover;
}

.footer {
  width: 950px;
  margin: 0 auto;
  padding: 70px 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.footer-logo {
  float: left;
}

.footer p {
  float: right;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 17px;
}
